# Se ignoran absolutamente todos los archivos.
*

# Excepto los siguientes:
!.gitignore
!PythonApplication1.py

# etc...

# ...Aun si estan en subdirectorios.
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*


#by elcurco8